
main  {
    position: relative;
}

section.top {
    @apply relative h-[380px] p-[40px];
    background-image: url('/assets/abouthm.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    h2 {
        @apply relative z-10 m-[40px] text-[48px] leading-[58.18px] font-[600] capitalize;
    }
}

section.top::before {
    content: "";
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2B2B2B80;
}

section.mint {
    @apply mt-[80px];
    .top {
        @apply max-w-[930px] mx-auto;
        h4 {
            @apply mb-[24px] text-center font-[600] text-[40px] leading-[48.48px];
        }
        p {
            @apply text-center font-[400] text-[16px] leading-[19.39px];
        }
    }

    .bottom {
        @apply max-w-[1090px] mx-auto mt-[90px] flex flex-col gap-[80px];
        background-image: url('/assets/aboutbg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .item {
            @apply flex justify-between items-center py-4 gap-3;
            h3 {
                @apply min-w-[301px] text-justify font-[700] capitalize text-[56px] leading-[67.87px];
            }

            img {
                @apply w-[108px] h-[108px];
            }

            p {
                @apply text-[24px] leading-[29.09px] font-[500];
            }
        }
    }
    .bottom .item:nth-child(even) {
        @apply flex-row-reverse;
        img {
            transform: rotate(180deg);
        }
    }
}

section.leadership {
    @apply max-w-[1090px] mx-auto mt-[50px];
    h3 {
        @apply text-[48px] leading-[58.18px] font-[700] capitalize mx-auto text-center mb-[40px];
    }
    .team-gala {
        @apply grid grid-cols-2 gap-7;
        .persona {
            @apply flex flex-col gap-4;
            img {
                width: 100%;
                height: 667px;
                border-radius: 12px;
                background-color: #12152B;
                background-image: url('/assets/oragami.png');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            h4 {
                @apply capitalize;
                font-family: Rosario;
                font-size: 24px;
                font-weight: 700;
                line-height: 29.09px;
                text-align: justified;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color: #4F1012;
            }
        }
    }
}

section.sumPop {
    @apply fixed w-[100dvw] h-[100dvh] z-[10000] top-0 left-0 bg-[#626262d9] flex flex-col justify-center items-center backdrop-blur-[10px];
    .cancel {
        @apply min-w-[400px] w-[70%] flex items-center justify-end mb-3;
        svg {
            @apply text-white text-[24px] cursor-pointer hover:text-[#4F1012] transition-colors;
        }
    }
    .info {
        @apply grid grid-cols-2 gap-7 min-w-[400px] w-[70%];
        img {
            @apply w-[100%] rounded-[12px] bg-[#12152B] m-auto;
        }
        p {
            @apply m-auto bg-[#12152B] text-white p-4 max-h-[450px] overflow-y-auto rounded-[12px] overflow-x-hidden;
            font-size: 24px;
            font-weight: 500;
            line-height: 29.09px;
            text-align: justify;
            scroll-behavior: smooth;
        }
        p{
            --sb-track-color: #232e3300;
            --sb-thumb-color: #6BAF8D;
            --sb-size: 3px;
        }
          
        p::-webkit-scrollbar {
            width: var(--sb-size);
        }
          
        p::-webkit-scrollbar-track {
            background: var(--sb-track-color);
            border-radius: 2px;
        }
          
        p::-webkit-scrollbar-thumb {
            background: var(--sb-thumb-color);
            border-radius: 2px;
        }
    }
}


main.contact {
    // display: none;
    .text {
        @apply w-full text-center flex justify-center items-center mb-[40px];
        .tramps {
            h6 {
                font-size: 48px;
                font-weight: 700;
                line-height: 58.18px;
                text-align: center;
                text-transform: uppercase;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                margin-bottom: 24px;
            }
            p {
                font-size: 32px;
                font-weight: 400;
                line-height: 38.78px;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
            }
        }
    }

    .map {
        @apply h-[500px] md:h-[650px] mt-[50px] mx-0 md:mx-auto overflow-x-hidden w-[90dvw] md:w-[100dvw];
        max-width: 1090px;
        min-height: 500px;
        border-radius: 20px;
        overflow: hidden;
        iframe {
            width: 100%;
            height: 100%;
        }
    }
}



























@media (max-width: 768px) {
    section.top {

    }

    section.mint {
        .top {
            @apply p-[20px];
            h4 {
               @apply text-[24px] leading-[32.48px];
            }
        }
        .bottom {
            @apply p-[20px] gap-[40px];
            .item {
                @apply flex justify-between items-center;
                h3 {
                    @apply min-w-0.5 text-[32px] leading-[38.87px] whitespace-nowrap;
                }

                img {
                    @apply w-[56px] h-[56px];
                }
    
                p {
                    @apply text-[16px] leading-[19.09px] flex-1;
                }
            }
        }
    }

    section.leadership {
        @apply mt-[30px];
        h3 {
            @apply text-[32px] leading-[48.18px] mb-[30px];
        }
        .team-gala {
            @apply grid grid-cols-1 gap-7 justify-items-center;
            .persona {
                @apply max-w-[300px];
                img {
                    width: 100%;
                    height: 400px;
                    border-radius: 12px;
                }
                h4 {
                    font-size: 19px;
                    line-height: 22.09px;
                }
            }
        }

    }

    section.sumPop {
        .info {
            @apply grid-cols-1;
        }
        img {
            @apply hidden;
        }
    }

    main.contact {
        .text {
            .tramps {
                margin-top: 30px;
                h6, p {
                    font-size: 24px;
                    line-height: 29.09px;
                }
            }
        }
    }
}